{% extends 'includes/_layout.html' %}
{% block body %}
<section class="login">
    <body class="text-center">
        <div class="container card">
            <div class="">
              <form method='POST' class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="flex">
                  <input autocomplete='off' type="password" name="password" class="form-control" placeholder = 'Password' >
                </div>
                <div class="flex">
                    <input autocomplete='off' type="password" name="confirm_password" class="form-control" placeholder = 'Confirm Password'>
                </div>
                <div class="flex">
                    <button class="btn" type="submit">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </body>
</section>

{% endblock %}