{% extends 'includes/_layout.html' %}
{% block body %}

<section class="add-player">
    <div class="card grid ">
        <form method="POST">
            <h1>Edit Details</h1>
            <div>
                <label for="first_name">First Name</label>
                <input class="form-control" autocomplete="off" placeholder="First Name" type="text" value="{{player.first_name}}"  name="first_name"> 
                <label for="first_name">Last Name</label>

                <input class="form-control" autocomplete="off" placeholder="Last Name" type="text"  value="{{player.last_name}}" name="last_name">    
            </div>
            <div>
                <label for="position">Position</label>&nbsp;
                <select class="form-control" name="position">
                    <option> {{player.position}} </option>
                    <option > Goalkeeper </option>
                    <option > Defender </option>
                    <option > Midfielder </option>
                    <option > Forward </option>
                </select>   
                <label for="squad_number">Shirt Number</label>
                <input class="form-control" autocomplete="off"placeholder="Squad Number" type="text" value="{{player.squad_number}}"  name="squad_number"> 
            </div>
        <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</section>

{% endblock %}
