{% extends 'includes/_layout.html' %}
{% block body %}

<section class="league-table">
    <div class="container flex">
        <h1 style="padding-top: 1rem;">Thursday 7'S Premier League</h1>
        <table>
            <tr>
                <thead>
                    <td></td>
                    <td>Team Name</td>
                    <td>Played</td>
                    <td class="hide-mobile">Goals For</td>
                    <td class="hide-mobile">Goals Against</td>
                    <td>GD</td>
                    <td>Points</td>
                </thead>
            </tr>
            {% for position, team in table %}
            <tr>
                <tbody>
                    <td style="font-weight: bold;">{{ position }}</td>
                    <td style="font-weight: bold;"><a href="{{url_for('team_data', id=team.team_id)}}">{{ team.team_name }}</a></td>
                    <td>{{ team[1] }}</td>
                    <td class="hide-mobile">{{ team[3] }}</td>
                    <td class="hide-mobile">{{ team[4] }}</td>
                    <td>{{ team[3] - team[4] }}</td>
                    <td>{{ team[2] }}</td>
                </tbody>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>


{% endblock %}