{% extends 'includes/_layout.html' %}
{% block body %}

<section class="league-table">
    <div class="container flex">
        <div>
            <table>
                <tr>
                    <thead>
                        <td class="hide">Number</td>
                        <td>Player</td>
                        <td class="hide"><abbr title="Position">Pos</abbr></td>
                        <td class=""><abbr title="Appearances">Apps</abbr></td>
                        <td><abbr title="Goals">G</abbr></td>
                        <td><abbr title="Assists">A</abbr></td>
                        <td><abbr title="Clean Sheets">CS</abbr></td>
                        <td><abbr title="Points">Pts</abbr></td>
                    </thead>
                </tr>
                {% for player in stats %}
                <tr>
                    <tbody>
                        <td class="hide" style="font-weight: bold;">{{ player.squad_number }}</td>
                        <td style="font-weight: bold;"><a href="{{url_for('player', id=player.player_id)}}">{{ player.first_name }} {{ player.last_name }}</a></td>
                        <td  class="hide">{{ player.position }}</td>
                        <td class="">{{ player.appearances if player.appearances is not none else 'N/A' }}</td>
                        <td class="">{{ player.goals if player.goals is not none else '0'}}</td>
                        <td class="">{{ player.assists if player.assists is not none else '0' }}</td>
                        <td class="">{{ player.clean_sheets if player.clean_sheets is not none else '0' }}</td>
                        <td>{{ player.fp_points }}</td>
                    </tbody>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>


{% endblock %}